.uiLook{
    border-radius: 0;
    background: #eaeaea;
    border: 1px solid #202020;
}
body{
    min-width: 250px; 
    max-width: 250px; 
    margin: 0
}

#imgExampleFontSelected{
    max-height: 40px;
    min-height: 40px;
    max-width:100%;
}