:host {
  --mainColor: #ffdc78;
  --textBackground: white;
  --fontColor: black;
  --clear: rgba(0,0,0,0);
}

hr{
  margin-top: 30px;
  border-color:var(--fontColor);
}

.App {
  color:var(--fontColor);
  bottom:0px;
  left:0px;
  display:grid;
  position:fixed;
  width:100vw;
  height:100vh;
  min-height:20vh;
  z-index: 9999999;
  pointer-events: none;
}


.appGrid_H
{
  grid-template-columns: auto;
  grid-template-rows: auto auto 75px;
  grid-gap: 0;
}

#appSpacer
{
  opacity: 0;
  pointer-events: none;
}

.appSpacer_H
{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}


#TextSlideBox
{
  background:var(--textBackground);
  border-top-style: solid;
  border-top-width: 1px;
  display:flex;
  flex-direction:column;
  pointer-events: auto;
  z-index:200;
}

.textSlideBox_H
{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 200px;
  align-self: end;
}


#ActionBar
{
  bottom:0px;
  left:0px;
  width:100%;
  background-color: var(--mainColor);
  color:black;
  display:flex;
  flex-direction: row;
  pointer-events: auto;
  z-index:300;
}

.actionBar_H
{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

a:link
{
  color: #800080;
}
a:visited
{
  color:#0000FF;
}
a:active
{
  color:red;
}

#slideItem{
  margin: auto;
  text-align: center;
  cursor: ns-resize;
  opacity:0.5;
  min-height:10px;
}

#slideItem:hover{
  opacity:1;
}




.classTextBoxOffscreen
{
  padding-top:100%;
}

#TextSectionDivider
{
  flex-grow:2;
  display:flex;
  flex-direction:row;
}
#inputTextMathEquation
{
  width:50%;
  resize: none;
  box-sizing: border-box;
  padding: 20px;
  border-width: 0;
  background: var(--clear);
  color: var(--fontColor);
}
input:disabled {
  background: #bfbdbd70;

}
#textOutputBox
{
  width:50%;
  border-left-style: solid;
  border-left-width: 1px;
  display:flex;
  flex-direction: column;
  background: var(--clear);
}

.buttonOptionsImage{
  background-color: var(--clear);
  border: 0;
  height: 100%;
  box-sizing: border-box;
  margin-left:2px;
  border-color:var(--textBackground);
  color:var(--fontColor);
}

.buttonOptionsImage:hover{
  background-color: #b9b9b9;
}

#imageOptions{
  align-items: center;
  display: flex;
  height:40px;
  padding-bottom: 3px;
}
.removeStyles
{
  background: none; 
  border: none;
}
#MathEquationBox
{
  flex-grow:2;
  margin: auto;
  text-align: center;
}
.navButton
{
  height:100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  border-width: 0px;
  color: var(--fontColor);
  background-color: var(--mainColor);
  font-family: 'Times New Roman', Times, serif;
  box-shadow: none;
  /*transition: all 0.5s ease 0s;*/
  outline: 0;
}

.navButton:hover
{
  filter: brightness(90%);
}

.selectedMathInput
{
  filter: brightness(90%);
}

.flexSpacer{
  flex-grow:2;
}

#navBarLogo
{
  background-color: #8064d6;
  height:100%;
}
#latexImage
{
  height:50%;
}

#canvasVisible
{
  position:fixed;
  /**/
  top:-100%;
  left:-100%;
  opacity:0;
  z-index: -3000;
  /**/

  /*/
  top:0px;
  left:0px;
  z-index: 3000;
  /**/
}

.sizeImageStyles
{
  border-width: 1px;
  border-style: solid;
}

mjx-container svg
{
  /*width:14ex;*/
  width:100%;
}

svg
{
  width: 2ex;
}

#InnerPopUpUiContainer
{
  background-color: var(--textBackground);
  padding: 25px;
  padding-bottom: 0;
  border-style: solid;
  border-width: 3px;
  border-bottom-width: 0;
  min-height: 90px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  pointer-events: auto;
  padding-bottom: 30px;
}
#PopUpUiContainer
{
  z-index: 3000000;
  position:absolute;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
  bottom: 0;
}

#DownloadForm
{
  display: flex;
  justify-content: center;
}
#ExitPopUpUi
{
  position: absolute; 
  top: 0px; 
  right: 0px;
}

#textInputSizeWidth
{
  border-color:var(--fontColor);
  width:50px;
  background-color:var(--clear);
  color:var(--fontColor);
}

#textInputSizeHeight
{
  border-color:var(--fontColor);
  width:50px;
  background-color:var(--clear);
  color:var(--fontColor);
  
}
#textInputSizeWidth:disabled
{
  border-color:var(--textBackground);
  text-align: right;
  border-width:0px;
  -moz-appearance:textfield;
  
}
#textInputSizeHeight:disabled
{
  border-color:var(--textBackground);
  text-align: right;
  border-width:0px;
  -moz-appearance:textfield;
}

#paypalButton
{
  font-size: 20px;
  border-color: gold;
  border-radius: 20px;
  display: flex;
  cursor: pointer;
  background:white;
}

#paypalButton:hover
{
  background:#98c6ff;
}

#paypalLogo
{
  color:#1a73e8;
  padding-right: 4px;
}


.selectedMathInput::after
{
  content: '';
  position: relative;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
  background: red;
}

#selectMathTypeSpan
{
  display:flex;
}

.inputDisabledLooking
{
  background:#b9b9b9
}

#settingsPageContainer
{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  max-width: 50vw;
}

@media screen and (max-width: 1000px)
{
  #TextSectionDivider
  {
    flex-direction: column;
 
  }
  #inputTextMathEquation
  {
    width:100%;
    flex-grow:1;


  }
  #textOutputBox
  {
    width:100%;
    flex-grow:1;

    border-left-style: solid;
    border-left-width: 0px;

    border-top-style: solid;
    border-top-width: 1px;
  }

}


@media screen and (max-width: 800px)
{
  #settingsPageContainer
  {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    max-width: 100vw;
  }

  #selectMathTypeSpan
  {
    flex-direction:column;
    min-width: 200px;
    height: 225px;
    transition: 0.5s;
  }
  .selectedMathTypeScanShow
  {
    transform: translateY(-150px);
  }
  .selectedMathInput
  {
    order: -1;
    background-color: var(--mainColor);;
  }
}

.themeColorIcon
{
  margin-right: 20px;
  padding: 0;
  float:left;
  position: relative;
  width:0px;
  height:0px;
  border-style:solid;
  border-width:30px;
  border-color:red;
  border-radius:5px;
  border-left-color: coral;
  border-top-color: coral;
}

/*
.themeColorIcon:before{
    content: '';
    position: absolute;
    top: -70px;
    left: -70px;
    right: -70px;
    bottom: -70px;
    background: black;
    border-radius:990px;
    z-index: -1;
}
*/