math-equation-anywhere{
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
    background:"white";
    z-index: 2000;
}


#mathEquationSlotLightDom {
    flex: 1;
    padding: 20px;
    padding-bottom: 0px;
    display: flex;
}