.mainNavLogo {
    height: 100%;
    background-color: #8064d6;
    float: left;
}

#NavContainer {
    height: 100px;
    border-top-color: #000000;
    border-top-width: 3px;
    border-top-style: solid;
    background-color: #ffdc78;
}

#Page {
    background-color: rgb(200, 128, 64);
    color: #CCFFFF;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin: 0;
}

#LatexImage {
    height: 40%;
}

#EquationsContainer {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 100px;
    z-index: -1;
    background-color: #ffffff;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0px -2px 15px rgba(50, 50, 50, 0.35);
}

#ResizeIcon {
    display: block;
    margin: auto;
    opacity: 0.5;
    user-select: none;
    cursor: ns-resize;
}

#ResizeIcon:hover {
    opacity: 1;
}

#MathTextEquationContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#SvgContainer {
    border-left-style: solid;
    border-left-width: 1px;
}

#HiddenCanvas {
    width: 800px;
    display: none;
}

#CanvasImgContainer {
    position: fixed;
    bottom: -100%;
}

.mainItemsEquationContainer {
    height: 100%;
    width: 50%;
    border-width: 0px;
    resize: none;
    box-sizing: border-box;
    padding: 20px;
}

.mainNavBar {
    margin: 0;
    padding: 0;
}

.mainNavBar > li {
    display: inline-block !important;
    color: #ccffaa;
}

.mainNavButton {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    font-size: 30px;
    border-width: 0px;
    background-color: #ffdc78;
    font-family: Times New Roman;
    color: #000000;
    box-shadow: none;
}

.mainNavButton:hover {
    background-color: #aaaa78;
}

.mainNavButtonSelected {
    background-color: #aaaa78;
}

.mainHideEquationsContainer {
    transition: 1s;
}

@media screen and ( max-width: 1000px ) {
    #MathTextEquationContainer {
        flex-direction: column;
    }
}

@media screen and ( max-width: 1000px ) {
    #MathEquationText {
        width: 100%;
    height: 100%;
    border-width: 0px;
    }
}

@media screen and ( max-width: 1000px ) {
    #SvgContainer {
        width: 100%;
    height: 100%;
    border: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    }
}
