.mainNavLogo {
    height: 100%;
    background-color: #8064d6;
    float: left;
}

#NavContainer {
    height: 75px;
    border-top-color: #000000;
    border-top-width: 3px;
    border-top-style: solid;
    background-color: #ffdc78;
}

#Page {
    background-color: rgb(200, 128, 64);
    color: #CCFFFF;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin: 0;
}

#LatexImage {
    height: 40%;
}

#EquationsContainer {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 75px;
    z-index: -1;
    background-color: #ffffff;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0px -2px 15px rgba(50, 50, 50, 0.35);
}

#ResizeIcon {
    display: block;
    margin: auto;
    opacity: 0.5;
    user-select: none;
    cursor: ns-resize;
}

#ResizeIcon:hover {
    opacity: 1;
}

#MathTextEquationContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#SvgContainer {
    flex: 1;
    padding: 20px;
    padding-bottom: 0px;
}

#HiddenCanvas {
    display: none;
}

#MathOutputContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-left-style: solid;
    border-left-width: 1px;
    padding: 0px;
    padding-bottom: 5px;
}

#MathOutputMenu {
    height: 40px;
    display: flex;
    align-items: center;
}

#NavSubmitButton {
    background-color: #FFFFFF;
    border-width: 0px;
    float: left;
    font-size: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}

#NavSubmitButton:hover {
    background-color: #b9b9b942;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

#OptionsSlideMenu {
    position: fixed;
    background-color: #FFFFFF;
    bottom: 0px;
    width: 50%;
    left: 25%;
    padding: 25px;
    padding-bottom: 0px;
    border-style: solid;
    border-width: 3px;
    border-bottom-width: 0px;
    min-height: 90px;
    box-sizing: border-box;
    max-height: 90%;
    transition: .5s;
}

.mainItemsEquationContainer {
    width: 50%;
    border-width: 0px;
    resize: none;
    box-sizing: border-box;
    padding: 20px;
}

.mainNavBar {
    margin: 0;
    padding: 0;
}

.mainNavBar > li {
    display: inline-block !important;
    color: #ccffaa;
}

.mainNavButton {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    font-size: 30px;
    border-width: 0px;
    background-color: #ffdc78;
    font-family: Times New Roman;
    color: #000000;
    box-shadow: none;
}

.mainNavButton:hover {
    background-color: #aaaa78;
}

.mainNavButtonSelected {
    background-color: #aaaa78;
}

.mainHideEquationsContainer {
    transition: 1s;
}

.mainImageSizePresetButton {
    height: 100%;
    background-color: #FFFFFF;
    border: 0px;
    box-sizing: border-box;
}

.mainSelectedImageSizePresetButton {
    border: 1px;
    border-style: solid;
}

.mainFlexBoxHorizontalCenter {
    display: flex;
    justify-content: center;
}

@media screen and ( max-width: 1000px ) {
    #MathTextEquationContainer {
        flex-direction: column;
    }
}

@media screen and ( max-width: 1000px ) {
    #MathEquationText {
        width: 100%;
    border-width: 0px;
    }
}

@media screen and ( max-width: 1000px ) {
    #MathOutputContainer {
        width: 100%;
    flex: 1;
    border: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    }
}

@media screen and ( max-width: 1000px ) {
    .mainItemsEquationContainer {
        height: 50%;
    }
}
