body
{
    min-height:100vh;
    background-color: #15a6ffab;
}

.equationTitle
{
    grid-row-start: 1;
    grid-row-end: 2;
}

.latexTextArea{
    margin: 25px;
    padding: 5%;
    resize: none;

    grid-row-start: 2;
    grid-row-end: 3;

}

.buttonSubmitTextEquation{
    width:100%;
    grid-row-start: 3;
    grid-row-end: 4;
}

.mathEquationsExamples{
    display:grid;
    grid-template-columns:1fr 1fr;
    padding: 30px;
    background:#ffe59c;
    margin: 30px;
    border-radius: 10px;
}
.generatedImage
{
    font-size: 40px;

    grid-row-start: 2;
    grid-row-end: 3;
}

    
